body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #0f0f14;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    max-width: 400px;
}

.logo {
    font-size: 40px;
    color: #ff8fb1;
    margin-bottom: 20px;
}

h1 {
    color: #9ca3af;
    font-weight: 400;
}

h2 {
    font-weight: 600;
    background: linear-gradient(90deg, #ff8fb1, #e0568a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    color: #a1a1aa;
    margin: 20px 0;
}

/* BUTTON */
.start-btn {
    display: inline-block;
    padding: 14px 30px;
    border-radius: 30px;
    background: linear-gradient(135deg, #e0568a, #ff8fb1);
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

    .start-btn:hover {
        box-shadow: 0 6px 20px rgba(224, 86, 138, 0.3);
    }
